@model CategoryPostDTO
@{
    ViewData["Title"] = "Create";
}

<div class="pagetitle">
    <h1>Form Validation</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="index" asp-controller="dashboard">Dashboard</a></li>
            <li class="breadcrumb-item"><a asp-action="index">Categories</a></li>
            <li class="breadcrumb-item active">Create</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Category Create</h5>

                    <!-- Custom Styled Validation -->
                    <form method="post" class="row g-3 needs-validation" enctype="multipart/form-data">
                        <div class="col-md-12">
                            <label for="validationCustom01" class="form-label">Title</label>
                            <input type="text" class="form-control" id="validationCustom01" asp-for="Name">
                            <span asp-validation-for="Name" class="invalid-feedback" style="display:block;">

                            </span>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label">Image</label>
                            <input class="form-control" asp-for="File" accept=".png,.jpg" type="file" />
                            <span asp-validation-for="File" class="invalid-feedback" style="display:block">

                            </span>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary" type="submit">Submit form</button>
                        </div>
                    </form><!-- End Custom Styled Validation -->

                </div>
            </div>

        </div>
    </div>
</section>
