@model Student
@{
    ViewData["Title"] = "Details";
}
@*
<h1>ViewBag : @ViewBag.Student</h1>
<h1>ViewDat : @ViewData["Stu"]</h1>
<h1>TempData : @TempData["Teacher"]</h1>*@

<h4 class="text-primary">@Model</h4>


