@model List<ProductGetDTO>
@{
    Layout = null;
}

@foreach (ProductGetDTO product in Model)
{
    <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
        <div class="card product-item border-0 mb-4">
            <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                <img class="img-fluid w-100" src="~/uploads/products/@product.PosterImage" alt="" style="height: 250px; object-fit:contain;">
            </div>
            <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                <h6 class="text-truncate mb-3">@product.Name</h6>
                <div class="d-flex justify-content-center">
                    @if (product.Discount > 0)
                    {
                        <h6>$@(product.SalePrice - product.Discount)</h6>

                        <h6 class="text-muted ml-2"><del>$@product.SalePrice</del></h6>
                    }
                    else
                    {
                        <h6>$@(product.SalePrice - product.Discount)</h6>
                    }
                </div>
            </div>
            <div class="card-footer d-flex justify-content-between bg-light border">
                <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
            </div>
        </div>
    </div>
}
