@model Setting
@{
    ViewData["Title"] = "About";
}

<!-- about section -->

<section class="about_section layout_padding long_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="img-box">
                    <img src="~/uploads/settings/@Model.AboutImage" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            @Model.AboutTitle
                        </h2>
                    </div>
                    <p>
                        @Model.AboutDesc
                    </p>
                    <a href="">
                        Read More
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end about section -->

